ssh_key/id_rsa
ssh_key/id_rsa.pub
plugged
.vagrant
*~
provisioning/ansible/k8s_passwd
provisioning/ansible/join-command
*.bak*
*.swp
*.swo
*.swn
k8s-master.log
provisioning/ansible/test*
