[Unit]
Description=HAProxy docker compose service
After=docker.target
StartLimitIntervalSec=0

[Service]
Restart=always
User=root
WorkingDirectory={{ haproxy_docker_compose_dir }}
ExecStart=docker-compose -f docker-compose.yml up
ExecStop=docker-compose -f docker-compose.yml down

[Install]
WantedBy=multi-user.target
