apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-proxy-config
data:
  default.conf: |
    server { # ceph dashboard
      listen 80;
      server_name localhost;
    
      location / {
        proxy_pass        http://{{ master_ip }}:{{ dashboard_port }}/ceph/;
      }
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-proxy
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nginx-proxy
    spec:
      containers:
      - image: nginx:1.12
        name: nginx
        ports:
          - containerPort: 80
        readinessProbe:
          httpGet:
            port: 80
            path: http://localhost/
          periodSeconds: 3
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
            httpGet:
              port: 80
              path: http://localhost/
            periodSeconds: 3
            failureThreshold: 3
            successThreshold: 1
            initialDelaySeconds: 10
        startupProbe:
            httpGet:
              port: 80
              path: http://localhost/
            periodSeconds: 10
        resources:
          requests:
            cpu: 50m
            memory: 100Mi
          limits:
            cpu: 50m
            memory: 100Mi
        volumeMounts:
          - name: nginx-proxy-config
            mountPath: /etc/nginx/conf.d/
      volumes:
        - name: nginx-proxy-config
          configMap:
            name: nginx-proxy-config

---
apiVersion: v1
kind: Service
metadata:
  name: ceph-service
spec:
  ports:
    - port: 80
      nodePort: {{ nginx_ceph_dashboard_port }}
  selector:
    app: nginx-proxy
  type: NodePort
